.shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.shop-section__title {
    text-align: center;
    padding: 70px 0 50px;
}

.shop-section__title span {
    font-size: 22px;
    font-weight: 600;
    opacity: 0.5;
}

.shop-section__title h3 {
    font-family: Elsie Swash Caps;
    font-size: 82px;
    font-weight: 900;
    margin: 0;
    padding: 27px 0 0;
}

.shop-section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 0 70px 70px;
}

.shop-section__button {
    font-size: 16px;
    background-color: #1C1C1C;
    padding: 15px 15px;
    margin-bottom: 27px;
    border-radius: 10px;
    cursor: pointer;
}

.shop-section__link{
    text-decoration: none;
    color: #ffffff;
}