@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');

.how-card {
    display: flex;
    background-color: #fff;
    width: 900px; 
    margin: 190px auto 0;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.06));
}

.how-card__img {
    width: 60%;
}

.how-card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.how-card__text span {
    padding-left: 42px;
    font-size: 18px;
    opacity: 0.5;
}

.how-card__text h3 {
    font-family: Elsie Swash Caps;
    font-size: 42px;
    font-weight: 900;
    margin: 0;
    padding: 12px 0 0 42px;
}

.how-card__list li{
    list-style: none;
    display: flex;
    align-items: center;
}

.how-card__list span{
    padding-left: 0;
    padding-bottom: 15px;
    opacity: 0.5;
}

.how-card--circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #FFCB47;
    margin: 0 10px 20px 0;
}




