@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');

.home {
  padding: 0 3.43rem; 
  position: relative;
}

.home__background svg {
  width: 38.89rem; 
  height: 38.89rem; 
  fill: #FFCB47;
  position: absolute;
  top: -0.55rem; 
  right: -9.62rem; 
  z-index: -1;
}

.home__background img {
  width: 38.89rem; 
  height: 55.55rem; 
  position: absolute;
  top: 0rem; 
  right: 2.77rem; 
  z-index: -1;
}

.home__text {
  padding-top: 2.77rem; 
  width: 26.72rem; 
}

.home__text span {
  font-size: 1.125rem; 
  font-weight: 400;
  color: #202020;
  line-height: 1.44rem; 
  opacity: 0.5;
}

.home__text h3 {
  font-family: 'Elsie Swash Caps';
  font-size: 4.56rem; 
  font-weight: 900;
  margin: 1.67rem 0; 
}

@media (max-width: 500px) {
    .home {
        padding: 0 1.67rem; 
    }
    
    .home__background svg {
        width: 22.22rem; 
        height: 22.22rem; 
        top: -7rem; 
        right: 0rem; 
    }
    
    .home__background img {
        visibility: hidden;
    }
    
    .home__text {
        width: 16.67rem; 
    }

    .home__text span {
        opacity: 1;
        line-height: 1.67rem;
    }
    
    .home__text h3 {
        font-size: 2.78rem; 
    }
}