@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh; 
    overflow-x: hidden; 
}

:root {
    font-size: 112.5%; /* Set the root font size to 18px (18px * 112.5% = 20.25px) */
  }



